* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("wallpaper.jpg");
  background-size: 100%;
}

img {
  width: 40px;
}

label {
  padding: 15px;
  position: absolute;
  z-index: 1;
}

nav {
  background-color: rgba(16, 16, 16, 0.5);
  width: 350px;
  height: 100%;
  left: -350px;
  position: absolute;
  transition: all 0.5s;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ nav {
  /* quando esse checkbox for acionado, ele vai fazer a ação no objeto nav */
  transform: translateX(350px);
}

a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 20px 5px;
  color: white;
}
a:hover {
  background-color: rgb(176, 224, 230);
  color: black;
}

ul {
  list-style: none;
  position: absolute;
  top: 55px;
  width: 100%;
}
